# Node.js
node_modules/
dist/

# Python
__pycache__/
*.py[cod]
*.sqlite3

# Vite / React build
frontend/dist/
frontend/node_modules/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# dotenv
.env

# System
.DS_Store
Thumbs.db
